<?xml version="1.0" encoding="utf-8"?>
<config>
	<fieldset name="component"
		label="COM_DZVIDEO_COM_SETTINGS_LABEL"
		description="COM_DZVIDEO_COM_SETTINGS_DESC"
	>
        <field
            name="image_directory" default="images/dzvideo"
            type="text" filter="path" required="true"
            class="required" label="COM_DZVIDEO_IMAGE_DIR_LABEL"
            description="COM_DZVIDEO_IMAGE_DIR_DESC" />
        
        <field type="spacer" label="COM_DZVIDEO_SMALL_SIZE_LABEL" description="COM_DZVIDEO_SMALL_SIZE_DESC"/>
        
        <field
            name="small_intro_width"
            type="text" filter="int" class="validate-numeric"
            label="COM_DZVIDEO_WIDTH_LABEL"
            description="COM_DZVIDEO_WIDTH_DESC"
            default="160" />
        <field
            name="small_intro_height"
            type="text" filter="int" class="validate-numeric"
            label="COM_DZVIDEO_HEIGHT_LABEL"
            description="COM_DZVIDEO_HEIGHT_DESC"
            default="120" />
            
        <field type="spacer" label="COM_DZVIDEO_MEDIUM_SIZE_LABEL" description="COM_DZVIDEO_MEDIUM_SIZE_DESC"/>
        
        <field
            name="medium_intro_width"
            type="text" filter="int" class="validate-numeric"
            label="COM_DZVIDEO_WIDTH_LABEL"
            description="COM_DZVIDEO_WIDTH_DESC"
            default="400" />
        <field
            name="medium_intro_height"
            type="text" filter="int" class="validate-numeric"
            label="COM_DZVIDEO_HEIGHT_LABEL"
            description="COM_DZVIDEO_HEIGHT_DESC"
            default="300" />
                
        <field type="spacer" label="COM_DZVIDEO_VIDEO_SIZE_LABEL" description="COM_DZVIDEO_VIDEO_SIZE_DESC"/>
		
 		<field
			name="video_width"
			type="text"
			size="30"
			default="600"
			label="COM_DZVIDEO_WIDTH_LABEL"
			description="COM_DZVIDEO_WIDTH_DESC" />        
        <field
			name="video_height"
			type="text"
			size="30"
			default="450"
			label="COM_DZVIDEO_HEIGHT_LABEL"
			description="COM_DZVIDEO_HEIGHT_DESC" />      
        
        <field type="spacer" label="COM_DZVIDEO_DISPLAY_LABEL" description="COM_DZVIDEO_DISPLAY_DESC"/>
        
        <field name="video_display_type" type="list"
            default="0"
            label="COM_DZVIDEO_DISPLAY_TYPE_LABEL"
            description="COM_DZVIDEO_DISPLAY_TYPE_DESC">
                <option value="0">COM_DZVIDEO_DISPLAY_IFRAME</option>
                <option value="1">COM_DZVIDEO_DISPLAY_EMBED</option>
        </field>    
        <field name="video_auto" type="radio"
			class="btn-group"
            default="1"
            label="COM_DZVIDEO_AUTOPLAY_LABEL"
            description="COM_DZVIDEO_AUTOPLAY_DESC">
                <option value="0">JNO</option>
                <option value="1">JYES</option>
        </field> 
            
	</fieldset>
	
    <fieldset name="category"
		label="COM_DZVIDEO_CAT_VIEW_SETTINGS_LABEL"		
	>
			<field type="spacer" label="COM_DZVIDEO_CAT_SETTINGS_LABEL" description="COM_DZVIDEO_CAT_SETTINGS_DESC"/>
		
			<field name="show_category_title" type="radio"
					class="btn-group"
					label="COM_DZVIDEO_SHOW_CAT_TITLE_LABEL"
					description="COM_DZVIDEO_SHOW_CAT_TITLE_DESC"
					default = "1"
				>
					<option value="0">JHIDE</option>
					<option value="1">JSHOW</option>
				</field>
			<field name="show_category_desc" type="radio"
				class="btn-group"
				description="COM_DZVIDEO_SHOW_CAT_DESC_DESC"
				label="COM_DZVIDEO_SHOW_CAT_DESC_LABEL"
                default = "1"
			>
				<option value="0">JHIDE</option>
				<option value="1">JSHOW</option>
			</field>
			<field name="show_category_image" type="radio"
				class="btn-group"
				description="COM_DZVIDEO_SHOW_CAT_DESC_DESC"
				label="COM_DZVIDEO_SHOW_CAT_IMAGE_LABEL"
                default = "1"
			>
				<option value="0">JHIDE</option>
				<option value="1">JSHOW</option>
			</field>            
            <field name="show_category_sub" type="radio"
				class="btn-group"
				description="COM_DZVIDEO_SHOW_CAT_SUB_DESC"
				label="COM_DZVIDEO_SHOW_CAT_SUB_LABEL"
                default = "1"
			>
				<option value="0">JHIDE</option>
				<option value="1">JSHOW</option>
			</field>
            <field name="show_category_maxlevel" type="list"
				description="COM_DZVIDEO_SHOW_CAT_MAXLEVEL_DESC"
				label="COM_DZVIDEO_SHOW_CAT_MAXLEVEL_LABEL"
                default = "-1"
			>
				<option value="-1">JALL</option>
				<option value="0">JNONE</option>
				<option value="1">J1</option>
				<option value="2">J2</option>
				<option value="3">J3</option>
				<option value="4">J4</option>
				<option value="5">J5</option>
			</field>
			<field name="show_category_empty" type="radio"
				class="btn-group"
				label="COM_DZVIDEO_SHOW_CAT_EMPTY_LABEL"
				description="COM_DZVIDEO_SHOW_CAT_EMPTY_DESC"
                default = "1"
			>
				<option value="0">JHIDE</option>
				<option value="1">JSHOW</option>
			</field>
			
			<field type="spacer" label="COM_DZVIDEO_VID_SETTINGS_LABEL" description="COM_DZVIDEO_VID_SETTINGS_DESC"/>
			
			<field name="display_number" 
                type="text" filter="int" class="validate-numeric" default = "12"
                description="COM_DZVIDEO_VID_NUMBER_DESC"
                label="COM_DZVIDEO_VID_NUMBER_LABEL"
            />			
			<field name="display_column" 
                type="text" filter="int" class="validate-numeric" default = "3"
                description="COM_DZVIDEO_VID_COLUMN_DESC"
                label="COM_DZVIDEO_VID_COLUMN_LABEL"
            />
			<field
				name="display_ordering"
				type="list"
				default="a.created"
				description="COM_DZVIDEO_VID_ORDER_DESC"
				label="COM_DZVIDEO_VID_ORDER_LABEL"
			>
				<option value="a.ordering">COM_DZVIDEO_FIELD_CONFIG_ORDER_BY_ORDERING</option>
				<option value="a.title">COM_DZVIDEO_FIELD_CONFIG_ORDER_BY_TITLE</option>
				<option value="a.created">COM_DZVIDEO_FIELD_CONFIG_ORDER_BY_TIME</option>
                <option value="a.hits">COM_DZVIDEO_FIELD_CONFIG_ORDER_BY_HITS</option>
			</field>            
            <field
                name="display_direction"
                type="list" 
                default="ASC"
                label="COM_DZVIDEO_VID_ORDER_DIR_LABEL"
                description="COM_DZVIDEO_VID_ORDER_DIR_DESC">
                <option value="ASC">JGLOBAL_ORDER_ASCENDING</option>
                <option value="DESC">JGLOBAL_ORDER_DESCENDING</option>
            </field>
            
            <field type="spacer"/>
			
			<field name="category_show_video_title" type="radio"
					class="btn-group"
					label="COM_DZVIDEO_CAT_SHOW_VID_TITLE_LABEL"
					description="COM_DZVIDEO_CAT_SHOW_VID_TITLE_DESC"
					default = "1"
				>
					<option value="0">JHIDE</option>
					<option value="1">JSHOW</option>
				</field>				
			<field name="category_show_video_category" type="radio"
					class="btn-group"
					label="COM_DZVIDEO_CAT_SHOW_VID_CAT_LABEL"
					description="COM_DZVIDEO_CAT_SHOW_VID_CAT_DESC"
					default = "1"
				>
					<option value="0">JHIDE</option>
					<option value="1">JSHOW</option>
				</field>				
			<field name="category_show_video_image" type="radio"
					class="btn-group"
					label="COM_DZVIDEO_CAT_SHOW_VID_IMAGE_LABEL"
					description="COM_DZVIDEO_CAT_SHOW_VID_IMAGE_DESC"
					default = "1"
				>
					<option value="0">JHIDE</option>
					<option value="1">JSHOW</option>
			</field>
			<field name="category_show_video_length" type="radio"
					class="btn-group"
					label="COM_DZVIDEO_CAT_SHOW_VID_LENGTH_LABEL"
					description="COM_DZVIDEO_CAT_SHOW_VID_LENGTH_DESC"
					default = "1"
				>
					<option value="0">JHIDE</option>
					<option value="1">JSHOW</option>
			</field>
			<field name="category_show_video_date" type="radio"
					class="btn-group"
					label="COM_DZVIDEO_CAT_SHOW_VID_DATE_LABEL"
					description="COM_DZVIDEO_CAT_SHOW_VID_DATE_DESC"
					default = "1"
				>
					<option value="0">JHIDE</option>
					<option value="1">JSHOW</option>
			</field>
			<field name="category_show_video_hits" type="radio"
					class="btn-group"
					label="COM_DZVIDEO_CAT_SHOW_VID_HITS_LABEL"
					description="COM_DZVIDEO_CAT_SHOW_VID_HITS_DESC"
					default = "1"
				>
					<option value="0">JHIDE</option>
					<option value="1">JSHOW</option>
			</field>
			<field name="category_show_video_author" type="radio"
					class="btn-group"
					label="COM_DZVIDEO_CAT_SHOW_VID_AUTHOR_LABEL"
					description="COM_DZVIDEO_CAT_SHOW_VID_AUTHOR_DESC"
					default = "1"
				>
					<option value="0">JHIDE</option>
					<option value="1">JSHOW</option>
			</field>
			<field name="category_show_video_label" type="radio"
					class="btn-group"
					label="COM_DZVIDEO_CAT_SHOW_VID_LABEL_LABEL"
					description="COM_DZVIDEO_CAT_SHOW_VID_LABEL_DESC"
					default = "1"
				>
					<option value="0">JHIDE</option>
					<option value="1">JSHOW</option>
			</field>
			<field name="category_show_video_intro" type="radio"
					class="btn-group"
					label="COM_DZVIDEO_CAT_SHOW_VID_INTRO_LABEL"
					description="COM_DZVIDEO_CAT_SHOW_VID_INTRO_DESC"
					default = "1"
				>
					<option value="0">JHIDE</option>
					<option value="1">JSHOW</option>
			</field>			
			<field name="category_video_intro_length" 
                type="text" filter="int" class="validate-numeric" default = "180"
                description="COM_DZVIDEO_CAT_VID_INTRO_LENGTH_DESC"
                label="COM_DZVIDEO_CAT_VID_INTRO_LENGTH_LABEL"
            />
			
			<field type="spacer" />            

			<field name="show_pagination" type="list"
				description="JGLOBAL_PAGINATION_DESC"
				label="JGLOBAL_PAGINATION_LABEL"
				default="1"
			>				
				<option value="0">JHIDE</option>
				<option value="1">JSHOW</option>
				<option value="2">JGLOBAL_AUTO</option>
			</field>
			<field name="show_pagination_results" type="list" defaul="1"
			label="JGLOBAL_PAGINATION_RESULTS_LABEL"
			description="JGLOBAL_PAGINATION_RESULTS_DESC">				
				<option value="0">JHIDE</option>
				<option value="1">JSHOW</option>
		</field>
    </fieldset>
	
	<fieldset name="video"
		label="COM_DZVIDEO_VID_VIEW_SETTINGS_LABEL"		
	>
	
			<field name="show_video_title" type="radio"
					class="btn-group"
					label="COM_DZVIDEO_SHOW_VID_TITLE_LABEL"
					description="COM_DZVIDEO_SHOW_VID_TITLE_DESC"
					default = "1"
				>
					<option value="0">JHIDE</option>
					<option value="1">JSHOW</option>
				</field>				
			<field name="show_video_category" type="radio"
					class="btn-group"
					label="COM_DZVIDEO_SHOW_VID_CAT_LABEL"
					description="COM_DZVIDEO_SHOW_VID_CAT_DESC"
					default = "1"
				>
					<option value="0">JHIDE</option>
					<option value="1">JSHOW</option>
				</field>				
			<field name="show_video_length" type="radio"
					class="btn-group"
					label="COM_DZVIDEO_SHOW_VID_LENGTH_LABEL"
					description="COM_DZVIDEO_SHOW_VID_LENGTH_DESC"
					default = "1"
				>
					<option value="0">JHIDE</option>
					<option value="1">JSHOW</option>
			</field>
			<field name="show_video_date" type="radio"
					class="btn-group"
					label="COM_DZVIDEO_SHOW_VID_DATE_LABEL"
					description="COM_DZVIDEO_SHOW_VID_DATE_DESC"
					default = "1"
				>
					<option value="0">JHIDE</option>
					<option value="1">JSHOW</option>
			</field>
			<field name="show_video_hits" type="radio"
					class="btn-group"
					label="COM_DZVIDEO_SHOW_VID_HITS_LABEL"
					description="COM_DZVIDEO_SHOW_VID_HITS_DESC"
					default = "1"
				>
					<option value="0">JHIDE</option>
					<option value="1">JSHOW</option>
			</field>
			<field name="show_video_author" type="radio"
					class="btn-group"
					label="COM_DZVIDEO_SHOW_VID_AUTHOR_LABEL"
					description="COM_DZVIDEO_SHOW_VID_AUTHOR_DESC"
					default = "1"
				>
					<option value="0">JHIDE</option>
					<option value="1">JSHOW</option>
			</field>
			<field name="show_video_label" type="radio"
					class="btn-group"
					label="COM_DZVIDEO_SHOW_VID_LABEL_LABEL"
					description="COM_DZVIDEO_SHOW_VID_LABEL_DESC"
					default = "1"
				>
					<option value="0">JHIDE</option>
					<option value="1">JSHOW</option>
			</field>
			<field name="show_video_intro" type="radio"
					class="btn-group"
					label="COM_DZVIDEO_SHOW_VID_INTRO_LABEL"
					description="COM_DZVIDEO_SHOW_VID_INTRO_DESC"
					default = "1"
				>
					<option value="0">JHIDE</option>
					<option value="1">JSHOW</option>
			</field>
			<field name="show_video_text" type="radio"
					class="btn-group"
					label="COM_DZVIDEO_SHOW_VID_TEXT_LABEL"
					description="COM_DZVIDEO_SHOW_VID_TEXT_DESC"
					default = "1"
				>
					<option value="0">JHIDE</option>
					<option value="1">JSHOW</option>
			</field>
			<field name="show_video_tags" type="radio"
					class="btn-group"
					label="COM_DZVIDEO_SHOW_VID_TAGS_LABEL"
					description="COM_DZVIDEO_SHOW_VID_TAGS_DESC"
					default = "1"
				>
					<option value="0">JHIDE</option>
					<option value="1">JSHOW</option>
			</field>
	
	</fieldset>

	<fieldset name="permissions"
		description="JCONFIG_PERMISSIONS_DESC"
		label="JCONFIG_PERMISSIONS_LABEL"
	>

		<field 
            name="rules" 
            type="rules"
			component="com_dzvideo"
            class="inputbox"
			filter="rules"
			validate="rules"
			label="JCONFIG_PERMISSIONS_LABEL"
			section="component" />
	</fieldset>
</config>

